---
const { content } = Astro.props;
---

<div class="pb-10 leading-8">
  <div class="font-semibold pb-4">Accepted Payment Methods</div>
  <div class="flex justify-center items-center gap-4">
    <!-- 0.AMEX -->
    {
      content?.footer?.paymentMethod?.includes("amex") && (
        <img src={`/paymentMethods/amex.svg`} class="w-12" />
      )
    }
    <!-- 1.aliPay -->
    {
      content?.footer?.paymentMethod?.includes("aliPay") && (
        <img src={`/paymentMethods/aliPay.svg`} class="w-12" />
      )
    }

    <!-- 2.applePay -->
    {
      content?.footer?.paymentMethod?.includes("applePay") && (
        <img src={`/paymentMethods/applePay.svg`} class="w-12" />
      )
    }

    <!-- 3.cash -->
    {
      content?.footer?.paymentMethod?.includes("cash") && (
        <img src={`/paymentMethods/cash.png`} class="w-12" />
      )
    }

    <!-- 4.discover -->
    {
      content?.footer?.paymentMethod?.includes("discover") && (
        <img src={`/paymentMethods/discover.svg`} class="w-12" />
      )
    }

    <!-- 5.googlePay -->
    {
      content?.footer?.paymentMethod?.includes("googlePay") && (
        <img src={`/paymentMethods/googlePay.svg`} class="w-12" />
      )
    }

    <!-- 6.jcb -->
    {
      content?.footer?.paymentMethod?.includes("jcb") && (
        <img src={`/paymentMethods/jcb.svg`} class="w-12" />
      )
    }

    <!-- 7.maestro -->
    {
      content?.footer?.paymentMethod?.includes("maestro") && (
        <img src={`/paymentMethods/maestro.svg`} class="w-12" />
      )
    }

    <!-- 8.mastercard -->
    {
      content?.footer?.paymentMethod?.includes("mastercard") && (
        <img src={`/paymentMethods/mastercard.svg`} class="w-12" />
      )
    }

    <!-- 9.payPal -->
    {
      content?.footer?.paymentMethod?.includes("payPal") && (
        <img src={`/paymentMethods/payPal.svg`} class="w-12" />
      )
    }

    <!-- 10.stripe -->
    {
      content?.footer?.paymentMethod?.includes("stripe") && (
        <img src={`/paymentMethods/stripe.svg`} class="w-12" />
      )
    }

    <!-- 11.unionPay -->
    {
      content?.footer?.paymentMethod?.includes("unionPay") && (
        <img src={`/paymentMethods/unionPay.svg`} class="w-12" />
      )
    }

    <!-- 12.visa -->
    {
      content?.footer?.paymentMethod?.includes("visa") && (
        <img src={`/paymentMethods/visa.svg`} class="w-12" />
      )
    }

    <!-- 13.weChatPay -->
    {
      content?.footer?.paymentMethod?.includes("weChatPay") && (
        <img src={`/paymentMethods/weChatPay.svg`} class="w-12" />
      )
    }
  </div>
</div>
